.todo-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: solid lightgreen;
}

.todo-details__item {
  margin: 10px 0;
}
