<div class="todo">
    <div class="todo-input">
      <input type="text" class="form-control" placeholder="add a task" [(ngModel)]="todoElem">
      <button class="todo-input__btn" (click)="onElemAdded()">Add</button>
    </div>
    <mat-form-field class="form-control" [(ngModel)]="todoElem">
<!--      <mat-label>Add Todo</mat-label>-->
      <input matInput type="text">
      <button mat-button color="basic" (click)="onElemAdded()">Add</button>
    </mat-form-field>




    <mat-grid-list *ngFor="let todo of todosArray; let i = index" cols="1" rowHeight="9:1">
      <mat-grid-tile *ngIf="!todo.editing">
        <span>{{ todo.description }}</span>
        <button (click)="onElemEdit(i)">Edit</button>
        <button (click)="onElemDeleted(i)">Delete</button>
      </mat-grid-tile>
      <div *ngIf="todo.editing">
        <input type="text" [(ngModel)]="todo.description">
        <button (click)="onElemSave(i)">Save</button>
      </div>
    </mat-grid-list>
</div>
