.todo {
  height: 50vh;
  width: 50vw;
  border: solid red;
  margin-right: auto;
  margin-left: auto;
}

.todo__span {
  color: black;
}

.todo__btn {
  padding: 10px;

}

.todo__elements {
  list-style-type: none;
}

.todo__element {
  margin-left: auto;
  margin-right: auto;
}
