<ng-container *ngIf="todoListOwnerId$ | async as todoListOwnerId">
  <div class="todo__add">
    <mat-form-field class="form-control" [(ngModel)]="todoElem" ngDefaultControl appearance="outline"
                    (keyup.enter)=" onElemAdded(todoListOwnerId)">
      <mat-label>Add Todo</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <button mat-button color="basic" (click)="onElemAdded(todoListOwnerId)">Add</button>
  </div>
  <mat-grid-list *ngFor="let todo of todosArray; let i = index" cols="1" rowHeight="9:1" class="todo-elements">
    <mat-grid-tile *ngIf="!todo.editing && editingIndex !== i" class="todo-element single-todo">
      <span> {{ todo.description }}</span>
      <button mat-button color="basic" (click)="onElemEdit(i,todoListOwnerId)">Edit</button>
      <button mat-button color="basic" (click)="onElemDeleted(i,todoListOwnerId)">Delete</button>
      <button mat-button color="basic" (click)="redirectToTodoListElement(todo.id,todoListOwnerId)">Details</button>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="todo.editing || editingIndex === i" class="todo-element">
      <input matInput type="text" [(ngModel)]="todo.description">
      <button mat-button color="basic" (click)="onElemSave(i,todoListOwnerId)">Save</button>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
