<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/" class="app-title">
        <span>Todo List App</span>
      </a>
      <span class="spacer"></span>
      <button mat-mini-fab color="#FBEAEB" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu>
        <button mat-menu-item routerLink="/auth/signup">Register</button>
        <button mat-menu-item routerLink="/auth/login">Log In</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
