<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/" class="app-title">
        <span>Store App</span>
      </a>
      <div class="user-info">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity" matBadgeColor="warn">shopping_cart
          </mat-icon>
        </button>
        <button mat-mini-fab color="#FBEAEB" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <mat-menu #menu>
        <button mat-menu-item routerLink="/auth/signup">Register</button>
        <button mat-menu-item routerLink="/auth/login">Log In</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
