<div class="todo-details">
  <h2>Todo Details</h2>
  <div class="todo-details__item">
    <strong>Id: </strong>{{ todo?.id }}
  </div>
  <div class="todo-details__item">
    <strong>Description: </strong>{{ todo?.description }}
  </div>
  <div class="todo-details__item">
    <strong>Created: </strong>{{ todo?.date | date }}
  </div>
  <div class="todo-details__item">
    <strong>Status: </strong>{{ todo?.status }}
    <button mat-button (click)="toggleStatus()">Change status</button>
  </div>
  <button mat-raised-button  (click)="redirectToTodoList(currentUser!.id)">Back to List</button>
</div>
