.container {
  display: flex;
  width: 90vw;
  height: 95vh;
  background-color: bisque;
  border: solid black;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.container__box {
  width: 70vw;
  height: 90vh;
  border: solid lightgreen;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  text-align: center;
}
