<div class="userdata">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form">
    <mat-form-field appearance="outline" class="input-width">
      <mat-label>Login</mat-label>
      <input matInput placeholder="Login" type="text" formControlName="login">
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button type="submit" class="submit-button" [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>
